.about_wrapper div:first-child{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 24vh;
    font-family: LemonMilkBold;
    margin-bottom: 100px;
}

.about_wrapper div:first-child:after{
    content: "";
    width: 100%;
    height: 400px;
    margin-left: 200px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.about_wrapper div:last-child{
    width: 1120px;
}

.about_wrapper span:nth-child(2){
    font-size: 64px;
}

.about_wrapper svg{
    margin: 0;
    margin-right: 10px;
}

.about_wrapper div:nth-child(2)>span{
    font-family: Roboto;
    font-size: 22px;
}