@font-face {
  font-family: LemonMilk;
  src: url("assets/LEMONMILK-Regular.otf") format("opentype");
}

*{
    margin: 0;
    font-family: LemonMilk;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.wrapper{
    position: fixed;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.wrapper > div{
    gap: 450px;
    height: 60px;
    display: flex;
    background-color: rgb(14,16,25,0.6);
    border-radius: 70px;
    justify-content: center;
    backdrop-filter: blur(25px);
}

.lang, .links{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.lang{
    margin-left: 30px;
}

.links{
    margin-right: 30px;
}

button{
    border: none;
    /* background-color: #F9D905; */
    background-color: transparent;
    color: white;
    border-radius: 40px;
    height: 65%;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 15px;
}

button.active{
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #F9D905;
    a{
        color: black;
    }
}

nav{
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a{
    height: 22px;
}