.wrapper{
    position: fixed;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.wrapper > div{
    gap: 450px;
    height: 60px;
    display: flex;
    background-color: rgb(14,16,25,0.6);
    border-radius: 70px;
    justify-content: center;
    backdrop-filter: blur(25px);
}

.lang, .links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.lang{
    margin-left: 30px;
}

.lang a{
    text-decoration: none;
    color: white;
}

.links{
    margin-right: 30px;
}

.nav-btn{
    border: none;
    background-color: transparent;
    border-radius: 40px;
    height: 65%;
    color: white;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: LemonMilk;
    font-size: 15px;
}

button.active{
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #F9D905;
    color: black;
}

.wrapper nav{
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.links a{
    height: 22px;
}