.wrapper{
    position: sticky;
    left: 0;
    top: 10px;
    z-index: 2;
    width: 100%;
    display: flex;
    background-color: rgb(14,16,25,0.6);
    border-radius: 70px;
    padding: 18px;
    backdrop-filter: blur(25px);
    align-items: center;
    justify-content: space-between;
}

.lang, .links{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lang a{
    text-decoration: none;
    color: white;
}

.links a{
    height: 22px;
}

.nav_btn{
    border: none;
    background-color: transparent;
    border-radius: 40px;
    height: 40px;
    color: white;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: LemonMilk;
    font-size: 15px;
    white-space: nowrap;
}

button.active{
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #F9D905;
    color: black;
}

.wrapper nav{
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media (max-width: 1200px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 18px 25px;
    }
    
    .lang{
        grid-column: 1 / 2;
        justify-self: center;
    }

    .links{
        grid-column: 4 / 5;
        justify-self: center;
    }

    nav{
        grid-row: 2;
        grid-column: 1 / 5;
    }

    .nav_btn{
        border-radius: 20px;
        font-size: 14px;
        height: 30px;
    }
}

@media (max-width: 450px) {
    .nav_btn{
        font-size: 8px;
    }
}