@font-face {
  font-family: LemonMilk;
  src: url("assets/LEMONMILK-Regular.otf") format("opentype");
}

*{
    margin: 0;
    font-family: LemonMilk;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20%;
}

nav{
    width: 700px;
    display: flex;
    align-items: center;
}

button{
    border: none;
    /* background-color: #F9D905; */
    background-color: transparent;
    flex: auto;
    color: white;
    border-radius: 40px;
    height: 65%;
    width: 20%;
    font-size: 15px;
    margin: 0px 15px;
}

.lang{
    width: 150px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lang span{
    color: white;
}

.links{
    width: 150px;
    height: 10%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav, .lang, .links{
    margin-top: 30px;
    background-color: rgb(14,16,25,0.7);
    height: 70px;
    border-radius: 70px;
    box-shadow: 0px 4px 11px 0px;
}