.text_wrapper{
    margin-top: 6vh;
    margin-left: -700px;
    margin-bottom: 10vh;
    margin-right: 10px;
}

.text_wrapper svg{
    margin-right: 10px;
}

.text_wrapper>span{
    font-family: LemonMilkBold;
    font-size: 64px;
}

.text_wrapper>p{
    color: white;
    font-size: 12px;        
}

.text_wrapper::after{
    content: "";
    width: 100%;
    height: 370px;
    margin-left: 200px;
    margin-top: -270px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.slide_wrapper{
    display:flex;
    width: 1120px;
    mask-image: linear-gradient(to right, transparent 0%, black 5%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 90%, transparent 100%);
}

.slide_track{
    transition: transform 0.5s ease-in-out;
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.slide_control button{
    background-color: #F9D905;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 36px;
    margin: 10px;
    font-family: LemonMilkBold;
}

.slide_control button img{
    width: 30px;
    height: 28px;
}