.qual-wrapper{
    margin-top: 6vh;
    margin-left: -450px;
    margin-bottom: 10vh;
}

.qual-wrapper>span{
    font-family: LemonMilkBold;
    font-size: 64px;
}

.qual-wrapper>p{
    color: white;
    font-size: 12px;        
}

.qual-wrapper::after{
    content: "";
    width: 100%;
    height: 370px;
    margin-left: 300px;
    margin-top: -650px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    transform: rotate(-30deg);
}

.qual-wrapper svg{
    margin-right: 10px;
}

.work-wrapper{
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.work-span-wrapper{
    font-family: LemonMilkBold;
    font-size: 32px;
}

.work-span-wrapper::after{
    position: absolute;
    content: "";
    margin-top: 50px;
    margin-left: -340px;
    width: 350px;
    height: 3px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
}

.experience-wrapper .qual-comp-wrapper:nth-child(n){
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    width: 500px;
    height: 200px;
}

.experience-wrapper .qual-comp-wrapper:nth-child(2n){
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    width: 500px;
}

.qual-comp-wrapper button{
    margin-top: 40px;
    margin-left: 135px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #F9D905;
    border-radius: 40px;
    font-family: LemonMilk;
    align-self: center;
    justify-content: center;
}

.qual-comp-wrapper span{
    float: left;
    display: block;
    font-size: 24px;
}

.qual-comp-wrapper span:nth-child(2){
    font-family: Roboto;
    float: left;
    display: block;
    font-size: 18px;
}

.experience-wrapper .qual-comp-wrapper:nth-child(n)::after{
    position: absolute;
    margin-top: 65px;
    margin-left: -5px;
    content: "";
    width: 500px;
    height: 150px;
    background: url("../assets/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.experience-wrapper .qual-comp-wrapper:nth-child(2n)::after{
    margin-left: 5px;
    margin-top: 70px;
    background: url("../assets/line2.svg");
    background-repeat: no-repeat;
}

.experience-wrapper .qual-comp-wrapper:nth-child(n)::before{
    position: absolute;
    margin-top: 160px;
    margin-left: 472px;
    content: "";
    width: 56px;
    height: 56px;
    background: url("../assets/qual-dot.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.experience-wrapper .qual-comp-wrapper:nth-child(2n)::before{
    margin-left: -18px;
    margin-top: 140px;
    background: url("../assets/qual-dot-2.svg");
    background-repeat: no-repeat;
}

.experience-wrapper{
    display: grid;
    height: 600px;
}

.experience-wrapper::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 600px;
    margin-left: 245px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
}

.experience-wrapper .qual-comp-wrapper:nth-child(n){
    position: relative;
    left: -250px;
    div{
        grid-column: 1;
    }
}

.experience-wrapper .qual-comp-wrapper:nth-child(2n){
    left: 250px;
    div{
        grid-column: 2;
    }
}
