.qual_wrapper{
    display: flex;
    flex-direction: column;
    margin: 15% 0;
    position: relative;
    width: 100%;
}

.qual_wrapper>div>span{
    font-family: LemonMilkBold;
    font-size: 64px;
}

.qual_wrapper>div>p{
    color: white;
    font-size: 12px;
}

.qual_wrapper>div>svg{
    margin-right: 10px;
}

.qual_wrapper::after{
    content: "";
    width: 400px;
    height: 400px;
    margin-left: 400px;
    margin-top: -175px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 75px;
}

.wrapper>div>span{
    font-family: LemonMilkBold;
    font-size: 32px;
}

.wrapper>div>span::after{
    position: absolute;
    content: "";
    margin-top: 50px;
    margin-left: var(--m-left, 0px);
    width: var(--w, 0px);
    height: 3px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
}

.experience_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.experience_wrapper::after{
    position: absolute;
    content: "";
    top: -50px;
    bottom: -250px;
    left: 50%;
    width: 10px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.qual_comp_wrapper{
    position: relative;
    color: white;
    cursor: pointer;
    flex: 0 0 50%;
}

.qual_comp_wrapper>div{
    display: flex;
    flex-direction: column;    
}

.qual_comp_wrapper>div>span:nth-child(1){
    font-size: 20px;
}

.qual_comp_wrapper>div>span:nth-child(2){
    font-size: 14px;
}

.qual_comp_wrapper:nth-child(even) {
    margin-left: auto;
    text-align: right;
}

.qual_comp_wrapper>div:nth-child(2) ul{
    direction: var(--d, ltl);
}

.qual_comp_wrapper>div:nth-child(2){
    font-family: Roboto;
    height: 0;
    overflow: hidden;
}

.qual_comp_wrapper:hover div:nth-child(2){
    height: 150px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 5%;
}

.qual_comp_wrapper>div:nth-child(2){
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(5px);
    margin-top: 20px;
}

.qual_comp_wrapper:nth-child(odd)::after{
    position: absolute;
    top: 50px;
    content: "";
    width: 100%;
    height: 200px;
    background: url("../assets/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.qual_comp_wrapper:nth-child(even)::after{
    position: absolute;
    top: 50px;
    right: 0;
    content: "";
    width: 100%;
    height: 200px;
    background: url("../assets/line2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.cert_wrapper{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
    gap: 30px;
    font-family: Roboto;
}

.cert_wrapper > div{
    display: flex;
    align-items: center;
}

.cert_wrapper > div svg{
    margin-top: 0;
    margin-right: 10px;
    min-width: 49px;
    min-height: 58px;
}

.cert_wrapper::after{
    content: "";
    position: absolute;
    background: url("../assets/cert_bg.png") no-repeat;
    background-size: cover;
    filter: blur(50px);
    margin-top: -200px;
    width: 100%;
    height: 700px;
}

@media (max-width: 1100px) {
    .qual_comp_wrapper>div>span:nth-child(1){
        font-size: 16px;
    }

    .qual_comp_wrapper>div>span:nth-child(2){
        font-size: 10px;
    }

    .qual_comp_wrapper:nth-child(odd)::after, .qual_comp_wrapper:nth-child(even)::after{
        top: 40px;
    }

    .qual_wrapper::after{
        margin-left: 200px;
    }

    .qual_comp_wrapper:hover div:nth-child(2){
        height: 250px;
    }

    .qual_comp_wrapper>div:nth-child(2){
        font-size: 12px;
    }
}

@media (max-width: 860px) {
    .qual_comp_wrapper>div>span:nth-child(2){
        font-size: 8px;
    }
}

@media (max-width: 780px) {
    .qual_wrapper>div>span{
        font-size: 32px;
    }

    .experience_wrapper::after{
        left: 0;
    }

    .qual_comp_wrapper:nth-child(odd), .qual_comp_wrapper:nth-child(even) {
        text-align: right;
        padding-left: 5%;
        flex: 0 0 80%;
    }

    .qual_comp_wrapper:nth-child(even){
        left: -15%;
    }

    .qual_comp_wrapper>div:nth-child(2){
        font-size: 16px;
    }

    .qual_comp_wrapper:nth-child(odd)::after, .qual_comp_wrapper:nth-child(even)::after{
        right: 0;
        background: url("../assets/line2.svg") no-repeat;
    }

    .qual_comp_wrapper>div>span:nth-child(2){
        font-size: 12px;
    }

    .qual_comp_wrapper>div:nth-child(2) ul{
        direction: var(--d, rtl);
    }

    .qual_wrapper::after{
        margin-left: 0px;
    }

    .cert_wrapper{
        font-size: 16px;
    }
}


@media (max-width: 470px) {
    .qual_wrapper>div>span{
        font-size: 26px;
    }

    .qual_comp_wrapper>div>span:nth-child(1){
        font-size: 12px;
    }

    .qual_comp_wrapper>div>span:nth-child(2){
        font-size: 10px;
    }

    .qual_comp_wrapper:nth-child(even)::after{
        top: 30px;
    }

    .qual_wrapper::after{
        margin-left: -100px;
    }

    .wrapper>div>span{
        font-size: 24px;
    }

    .wrapper>div>span::after{
        margin-top: 40px;
        margin-left: var(--m-left-s, 0px);
        width: var(--w-s, 0px);
    }

    .qual_comp_wrapper>div:nth-child(2){
        font-size: 12px;
    }

    .experience_wrapper::after{
        width: 5px;
    }
}

@media (max-width: 380px) {
    .qual_wrapper::after{
        display: none;
    }

    .qual_comp_wrapper:hover div:nth-child(2){
        height: 200px;
    }

    .qual_wrapper>div>span{
        font-size: 20px;
    }

}