.qual_wrapper{
    margin-top: 6vh;
    margin-left: -450px;
    margin-bottom: 10vh;
}

.qual_wrapper>span{
    font-family: LemonMilkBold;
    font-size: 64px;
}

.qual_wrapper>p{
    color: white;
    font-size: 12px;        
}

.qual_wrapper svg{
    margin-right: 10px;
}

.qual_wrapper::after{
    content: "";
    width: 100%;
    height: 370px;
    margin-left: 380px;
    margin-top: -270px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.wrapper{
    display: flex;
    width: 1120px;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 300px;
}

.wrapper>div>span{
    font-family: LemonMilkBold;
    font-size: 32px;
}

.wrapper>div>span::after{
    position: absolute;
    content: "";
    margin-top: 50px;
    margin-left: var(--m-left, 0px);
    width: var(--w, 0px);
    height: 3px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
}

.experience_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 1000px;
    margin-bottom: 200px;
}

.experience_wrapper::after{
    position: absolute;
    content: "";
    top: -50px;
    bottom: -200px;
    left: 50%;
    width: 10px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.qual_comp_wrapper{
    width: 50%;
    position: relative;
    color: white;
    cursor: pointer;
}

.qual_comp_wrapper span{
    display: block;
    font-size: 24px;
}

.qual_comp_wrapper span:nth-child(2){
    font-family: Roboto;
    font-size: 18px;
}

.qual_comp_wrapper:nth-child(even) {
    margin-left: auto;
}

.qual_comp_wrapper:nth-child(even) span{
    margin-left: auto;
    text-align: right;
}

.qual_comp_wrapper:nth-child(odd)::after{
    position: absolute;
    top: 60px;
    content: "";
    width: 500px;
    height: 150px;
    background: url("../assets/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.qual_comp_wrapper:nth-child(even)::after{
    position: absolute;
    top: 60px;
    margin-left: 10px;
    content: "";
    width: 500px;
    height: 150px;
    background: url("../assets/line2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.qual_comp_wrapper:nth-child(1)::before{
    position: absolute;
    margin-left: 482px;
    top: 162px;
    content: "";
    width: 46px;
    height: 46px;
    background: url("../assets/qual-dot.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.qual_comp_wrapper:not(:first-child)::before{
    position: absolute;
    margin-left: 487px;
    top: 165px;
    content: "";
    width: 36px;
    height: 36px;
    background: url("../assets/qual-dot-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.qual_comp_wrapper:nth-child(even)::before{
    margin-left: -13px;
    top: 135px;
}

.qual_comp_wrapper>div:nth-child(2){
    position: relative;
    left: var(--w-left, 0%);
    text-align: var(--t-align, right);
    height: 0px;
    width: 450px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(1px);
    margin-top: 20px;
}

.qual_comp_wrapper>div:nth-child(2) ul{
    direction: var(--d, ltl);
}

.qual_comp_wrapper:hover div:nth-child(2){
    height: 220px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.qual_comp_wrapper:nth-child(even){
    position: relative;
}

.cert_wrapper{
    display: flex;
    flex-direction: column;
    width: 1120px;
    font-size: 24px;
    align-items: center;
    gap: 30px;
    font-family: Roboto;
}

.cert_wrapper > div{
    display: flex;
    align-items: center;
}

.cert_wrapper > div svg{
    margin-top: 0;
    margin-right: 10px;
}

.cert_wrapper::after{
    content: "";
    position: absolute;
    background: url("../assets/cert_bg.svg") no-repeat;
    background-size: cover;
    filter: blur(50px);
    margin-top: -200px;
    width: 100%;
    height: 700px;
}