.qual-wrapper{
    margin-top: 6vh;
    margin-left: -450px;
    margin-bottom: 10vh;
}

.qual-wrapper>span{
    font-family: LemonMilkBold;
    font-size: 64px;
}

.qual-wrapper>p{
    color: white;
    font-size: 12px;        
}

.qual-wrapper svg{
    margin-right: 10px;
}

.qual-wrapper::after{
    content: "";
    width: 100%;
    height: 370px;
    margin-left: 380px;
    margin-top: -270px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.work-wrapper{
    display: flex;
    width: 1120px;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.work-wrapper>div>span{
    font-family: LemonMilkBold;
    font-size: 32px;
}

.work-wrapper>div>span::after{
    position: absolute;
    content: "";
    margin-top: 50px;
    margin-left: -340px;
    width: 350px;
    height: 3px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 1000px;
    height: 600px;
}

.experience-wrapper::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 600px;
    margin-left: 500px;
    background: radial-gradient(circle, #F9D905 0%, rgba(255, 255, 255, 0) 100%);
}

.qual-comp-wrapper{
    width: 50%;
}

.qual-comp-wrapper button{
    margin-top: 40px;
    margin-left: 135px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #F9D905;
    border-radius: 40px;
    font-family: LemonMilk;
    align-self: center;
    justify-content: center;
}

.qual-comp-wrapper span{
    display: block;
    font-size: 24px;
}

.qual-comp-wrapper span:nth-child(2){
    font-family: Roboto;
    font-size: 18px;
}

.qual-comp-wrapper:nth-child(even) {
    margin-left: auto;
  
}

.qual-comp-wrapper:nth-child(even) div {
    margin-left: auto;
    text-align: right;
}

.qual-comp-wrapper:nth-child(odd)::after{
    position: absolute;
    margin-top: -65px;
    content: "";
    width: 500px;
    height: 150px;
    background: url("../assets/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.qual-comp-wrapper:nth-child(even)::after{
    position: absolute;
    margin-top: -65px;
    margin-left: 10px;
    content: "";
    width: 500px;
    height: 150px;
    background: url("../assets/line2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.qual-comp-wrapper:nth-child(odd)::before{
    position: absolute;
    margin-top: 165px;
    margin-left: 477px;
    content: "";
    width: 56px;
    height: 56px;
    background: url("../assets/qual-dot.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.qual-comp-wrapper:nth-child(even)::before{
    position: absolute;
    margin-left: -13px;
    margin-top: 140px;
    content: "";
    width: 36px;
    height: 36px;
    background: url("../assets/qual-dot-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}