/* .dot_indicator {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 100px;
    gap: 15px;
    left: 93vw;
    top: 50%;
    transform: scale(-1, 1);
    z-index: 1;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: transparent;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.dot_active {
    width: 60px;
    height: 10px;
    background-color: #F9D905;
    border: 3px solid #F9D905;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1900px) {
    .dot_indicator {
        left: 90vw;
    }
}

@media (max-width: 1500px) {
    .dot_indicator {
        display: none;
    }
} */