.skill-main{
    width: 200px;
    height: 150px;
    background-color: #24273C;
    display: flex;
    border-radius: 40px;
    align-items: center;
    z-index: -1;
    gap: 30px;
}

.skill-main::after{
    position: absolute;
    content: "";
    background-color: #F9D905;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 50%;
    z-index: -2;
}

.skill-main img{
    width: 35px;
    height: 35px;
    margin-left: 30px;
    z-index: 1;
}

.skill-main span{
    font-size: 1em;
}