.skill-main{
    width: 200px;
    height: 150px;
    background-color: #090915;
    display: flex;
    border-radius: 40px;
    align-items: center;
    transition: transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), box-shadow 0.25s ease-out;
    z-index: 0;
    gap: 30px;
    perspective: 800px;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px 0px #000000;
}

.skill-main::after{
    position: absolute;
    content: "";
    background-color: #F9D905;
    width: 60px;
    height: 60px;
    margin-left: 18px;
    border-radius: 50px;
    z-index: -2;
}

.skill-main img{
    width: 35px;
    height: 35px;
    margin-left: 30px;
}

.skill-main span{
    font-size: 1em;
}