.skills_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    margin-top: 15%;
    position: relative;
}

.skills_wrapper > div{
    margin-bottom: 5%;
}

.skills_wrapper svg{
    margin: 0;
    margin-right: 10px;
}

.skills_wrapper>div>span:nth-child(2){
    font-size: 64px;
    font-family: LemonMilkBold;
}

.skills_wrapper p{
    color: white;
    font-size: 12px;
}

.skill_flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills_wrapper>div:first-child:after{
    content: "";
    width: 400px;
    height: 400px;
    margin-left: 150px;
    margin-top: -275px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

@media (max-width: 900px) {
    .skill_flex{
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .skills_wrapper>div:first-child:after{
        margin-left: 0px;
    }

    .skills_wrapper>div>span:nth-child(2){
        font-size: 42px;
    }
}

@media (max-width: 450px) {
    .skills_wrapper>div:first-child:after{
        margin-left: -60px;
    }

    .skills_wrapper>div>span:nth-child(2){
        font-size: 32px;
    }
}

@media (max-width: 380px) {
    .skills_wrapper>div:first-child:after{
        display: none;
    }
    
    .skills_wrapper>div>span:nth-child(2){
        font-size: 28px;
    }
}