.skills_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 1120px;
    margin-top: 27vh;
}

.skills_wrapper::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 900px;
    margin-left: 80px;
    background: url("../assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.skills_wrapper>div{
    margin-bottom: 50px;
}

.skills_wrapper>div>span:nth-child(2){
    font-family: LemonMilkBold;
    font-size: 64px;
}

.skills_wrapper p{
    color: white;
    font-size: 12px;
}

.skills_wrapper svg{
    margin: 0;
    margin-right: 10px;
}

.skills_row{
    display: flex;
    gap: 30px;
}

.row{
    grid-column: 1 / span 2;
}