.slide{
    margin: 1%;
}

.slide img{
    width: 650px;
    height: 350px;
    border-radius: 40px;
}

.slide_info{
    position: relative;
    top: -20%;
    height: 20%;
    background: linear-gradient(rgb(255,255,255,0), #000000);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: LemonMilkBold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slide_info>button{
    grid-column: 2;
    grid-row: 1 / 3;
    margin-top: 5%;
    margin-left: 60%;
    width: 30%;
    height: 50%;
    border: none;
    background-color: #F9D905;
    border-radius: 40px;
    font-family: LemonMilk;
}

.slide_info span{
    margin-left: 5%;
    text-shadow: 2px 2px 1px black;
    font-size: 26px;
}

.slide_info span:last-of-type{
    font-family: Roboto;
    font-size: 16px;
}

@media (max-width: 1100px) {
    .slide img{
        width: 550px;
        height: 275px;
    }

    .slide_info span{
        font-size: 20px;
    }

    .slide_info span:last-of-type{
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .slide img{
        width: 320px;
        height: 155px;
    }

    .slide_info span{
        margin-left:10%;
        text-wrap: nowrap;
        font-size: 12px;
    }

    .slide_info span:last-of-type{
        font-size: 10px;
    }

    .slide_info>button{
        font-size: 6px;
    }
}

@media (max-width: 500px) {
    .slide img{
        width: 280px;
        height: 145px;
    }

    .slide_info{
        top: -22%;
        width: 280px;
    }

    .slide_info>button{
        margin-left: 45%;
        font-size: 6px;
        width: 40%;
    }
}


@media (max-width: 350px) {
    .slide img{
        width: 220px;
        height: 125px;
    }

    .slide_info{
        top: -25%;
        width: 220px;
    }

    .slide_info span{
        font-size: 8px;
    }

    .slide_info span:last-of-type{
        font-size: 8px;
    }
}